@font-face {
  font-family: Billabong;
  src: url(FontsFree-Net-Billabong.ttf) format("truetype");
}

@font-face {
  font-family: Avenir;
  src: url(AvenirLTStd-Roman.otf) format("otf");
}

@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf) format("truetype");
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "aside topnav"
    "aside stories"
    "aside feed";
  min-width: 640px;
  width: 100%;
  background-color: #3c3f51;
}

body > aside {
  grid-area: aside;
  background-color: #282a34;
  height: 100vh;
}

body > section > nav.topnav {
  grid-area: topnav;
}

nav.sidenav li:first-of-type {
  list-style-image: url(images/ui/feed.svg);
}

nav.sidenav li:nth-of-type(2) {
  list-style-image: url(images/ui/search.svg);
}

nav.sidenav li:nth-of-type(3) {
  list-style-image: url(images/ui/notifications.svg);
}

nav.sidenav li:nth-of-type(4) {
  list-style-image: url(images/ui/direct.svg);
}

nav.sidenav li:nth-of-type(5) {
  list-style-image: url(images/ui/igtv.svg);
}

nav.sidenav li:nth-of-type(6) {
  list-style-image: url(images/ui/stats.svg);
}

nav.sidenav li:nth-of-type(7) {
  list-style-image: url(images/ui/settings.svg);
}

nav.sidenav li:last-of-type {
  list-style-image: url(images/ui/logout.svg);
}

body > section > div.stories {
  grid-area: stories;
}

body > section > div.feed {
  grid-area: feed;
}

body > aside > section h1#hero {
  font-family: Billabong, cursive, san-serif !important;
  font-size: 36px;
  padding-top: 26px;
  color: #fff !important;
  font-weight: normal;
}

aside section img {
  width: 100px;
  float: left;
}

aside section h1 {
  float: left;
}

aside section div {
  clear: left;
}

section > nav.topnav > ul {
  float: right;
}
/* 
display: grid
grid-template-columns/rows
set viewport (vh vw) height and/or width
*/
