@font-face {
  font-family: Billabong;
  src: url(FontsFree-Net-Billabong.ttf) format("truetype");
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "aside topnav"
    "aside stories"
    "aside feed";
  min-width: 640px;
  width: 100%;
  background-color: #3c3f51;
}

body > aside {
  grid-area: aside;
  background-color: #282a34;
  height: 100vh;
}

body > section > nav.topnav {
  grid-area: topnav;
}

body > section > div.stories {
  grid-area: stories;
}

body > section > div.feed {
  grid-area: feed;
}

h1 {
  font-family: Billabong, cursive, san-serif;
}

aside section img {
  width: 100px;
  float: left;
}

aside section h1 {
  float: left;
}

aside section div {
  clear: left;
}

section > nav.topnav > ul {
  float: right;
}
/* 
display: grid
grid-template-columns/rows
set viewport (vh vw) height and/or width
*/
